:root{
  --dark: #2D1B6A;
  --light: white;
}

body{
  background-image: url("../images/download.jpg");
  background-size: contain;
  }

header {
  display: flex;
  padding: 10px;
  width: 100%;
  position: relative;
  justify-content: space-between;
  background: linear-gradient(185deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(126,121,119,1) 100%);
}

.header h1 {
  font-size: 200%;
  color: var(--light)
}

/* Nav bar styling */
nav {
padding-left: 10%;
padding-right: 10%;
display: flex;
list-style: none;
}

nav ul li {
display: inline-block;
padding: 10px 20px;
margin-left: auto;
}

nav a {
color: var(--light);
text-decoration: none;
font-weight: bold;
}

nav a:hover {
text-decoration: underline;
color: orange;
}

nav a:active {
font-size: 110%;
color: aliceblue;
background-color: yellowgreen;
}

nav a:focus {
border: whitesmoke;
}

/* Sidebar styling */

.self {
  border-radius: 15px;
  border-style: solid;
  width: 100%;
  height: auto;
  
}

.icon-links {
display: flex;
list-style: none;
}

.icon-links ul li{
display: inline-block;
}

i {
  font-size: 150px;
  text-decoration: none;
  color: black;
}

.fa-linkedin{
  color: #0072b1;
  
}

.fa-square-instagram{
  color: transparent;
  background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   -webkit-background-clip: text;
}

.sidebar {
  float: right;
  width: 350px;
  height: 700px;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  padding: 10px;
  margin:10px;
  background-color: aliceblue;
  text-align: center;
  position: relative;
  
  }
  
  /* Section styling */
  .sections {
  /*background-color: #24252A;*/
  color: var(--light);
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 300px;
  min-height: 100vh;
  justify-content: space-between;
 }

.hero{
  height: auto;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}

.top{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.about-me, .work {
  border-style: solid;
  border-width: 10px;
  border-color: gray;
  border-radius: 15px;
  padding: 10px; 
  margin: 20px;
  background-color: var(--dark);
  width: 100%;
  height: 300px;
  flex-wrap: wrap;
  font-size: 120%;
  }

/* Styling within the section */
.work {
  background-image: url(../images/placeholder.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  position: relative;
  
}

#work {
  background-image: url(../images/IYF.gif);
}

.work2 {
  background-image: url(../images/moving-pictures.png);
}

.work3 {
  background-image: url(../images/Sluffin-or-Buffin.png)
}

/* Width set so 2 sections fit */
.more-work {
  width: 46%;
 
    
}
/* Header and description within section */
.in-work {
  display: block;
  background-color: gray;
  width: fit-content;
  position: absolute;
  bottom: 40px;
  padding: 20px;
  text-decoration: none;
  color: white;
}



/* Contact form in footer styling */
footer{
  display: block;
  border-style: solid;
  padding:5px;
  margin:0;
  background-color: aliceblue;
  text-align: center;
 }

input {
  margin-bottom: 20px;
}

.send { 
display:flex;
justify-content: center;  
}


 form{
  display: inline-block;
  justify-content: center;
  }

.message {
  display: flex;
  margin: auto;
}




@media screen and (max-width: 768px) {
  main,
  nav,
  body,
  section,
  .header,
  .work,
  .about-me,
  .top,
  .hero
    {
    flex-direction: column;
    flex-wrap: wrap;
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    margin: 0px;
    margin-bottom: 5px;
    padding:0;
  }
  .sidebar {
    width: 95%;
    height: 465px;
  }
  
  input {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom:10px;
  }
}